.cards {
  margin-top: 40px;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  background: #be7c4d;
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  letter-spacing: 0.5px;
  box-shadow: 4px 4px 0 #673a1b;
}

.card h2 {
  font-size: 2rem;
  align-self: center;
}

.card h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

.card h4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 4px;
}

.card span {
  font-weight: 100;
}

.nutritionsInfo {
  background: #9c633b;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #673a1b;
}

.button {
  background: #be7c4d;
  cursor: pointer;
  color: #ebe6e4;
  border: 2px solid #673a1b;
  outline: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: 0.3s;
}

.button:before {
  content: "+";
  display: block;
  color: #ebe6e4;
  font-size: 1.25em;
}

.button:hover {
  transform: scale(1.01);
  box-shadow: 3px 3px 0 #673a1b;
}

.buttonItems {
  background: #be7c4d;
  cursor: pointer;
  color: #ebe6e4;
  border: 2px solid #673a1b;
  outline: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  width: 4rem;
  height: 3rem;
  font-size: 2rem;
}

.buttonItems:hover {
  transform: scale(1.01);
  box-shadow: 3px 3px 0 #673a1b;
}

.addrem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addrem p {
  font-size: 1.75rem;
}

.input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #2b2a2c;
  padding: 0.75rem 0.875rem;
  border-radius: 8px;
  gap: 20px;
  border: 2px solid #be7c4d;
  box-shadow: 4px 4px 0 #673a1b;
  width: 20rem;
  margin-top: 1rem;
}

.input input {
  border: none;
  outline: none;
  background: #2b2a2c;
  font-size: 1rem;

  width: 100%;
}
