.header {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  background: #be7c4d;
  position: fixed;
  z-index: 100;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: lowercase;
  font-weight: 100;
}

.logo span {
  font-weight: 700;
}

.icons {
  transition: 0.3s;
  cursor: pointer;
}
.logo:hover,
.icons:hover {
  fill: #e1e1e1;
  color: #e1e1e1;
}

.iconsCards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.count {
  font-size: 2rem;
  font-weight: 100;
}
