* {
  box-sizing: border-box;
}

body {
  padding-top: 4rem;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2b2a2c;
  color: #ebe6e4;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #ebe6e4;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #ebe6e4;
}

.container {
  max-width: 90rem;
  padding: 0 3rem;
  margin: 0 auto;
}

.loading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loading-content p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.loading {
  width: 65px;
  height: 65px;
  border: 10px solid;
  border-color: #be7c4d transparent transparent;
  border-radius: 50%;
  animation: loading 1s infinite;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
